@page "/create"

@using System.Text.Json
@using TheMall.Data.CanvasData
@using System.Drawing
@using Blazor.Extensions
@using Blazor.Extensions.Canvas;
@using Blazor.Extensions.Canvas.Canvas2D;
@using Blazor.Extensions.Canvas.WebGL;
@using BlazorColorPicker
@using System.Collections.Generic;
@using TheMall.Data;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using TheMall.Data.Modles;
@using System.Diagnostics;

@inject AppState AppState
@inject ISessionManager sManager;

<h3>Hej: @AppState.UserName</h3>

<div style="display: inline-block;">
    <div id="drawCanvas" class="canvasStyle" tabindex="0" @onmousedown="MouseDown" @onmouseup="MouseUp" style="float: left;">
        <BECanvas Width="600" Height="500" @ref="canvasRef" />
    </div>

    <div style="float: right; width: 300px; margin-left: 30px;">
        <h3>Skitse plantegning.</h3>
        <div>
            <button class="drawBTN drawBTNsizeL" @onclick="() => ToolChanger(DrawTool.polygon)" style="align-content:center">Tegn en figur</button>
        </div>
        <div>
            <button class="drawBTN drawBTNsizeL" @onclick="() => ToolChanger(DrawTool.square)" style="align-content:center">Tegn en firkant</button>
        </div>
        <div>
            <button class="drawBTN drawBTNsizeL" @onclick="() => ToolChanger(DrawTool.line)" style="align-content:center">Tegn en streg</button>
        </div>
        <div>
            <button class="drawBTN drawBTNsizeS" @onclick="UndoLast" style="align-content:center">Fortryd</button>
        </div>
        <div>
            <button class="drawBTN drawBTNsizeS" @onclick="UndoAll" style="align-content:center">Slet alt</button>
        </div>
        <input id="fillBox" type="checkbox" @bind-value="@fill" />
        <label for="fillBox"> Anvend farve</label>
        <br />

        <button class="drawBTN drawBTNsizeL" @onclick="OnColorPickerOpen">
            <div style="background-color:@baseColorPicker" class="buttonColor"></div> Vælg farve
        </button>

        <ColorPicker Title="Stop and go ColorPicker" IsOpened="isOpened" Closed="OnColorPickerClosed" MyColor="@baseColorPicker"></ColorPicker>
        <br />
        <hr />
        <h3>Insæt lokation.</h3>
        <EditForm Model="layer">
            <div class="form-group">
                <label for="name">
                    Etage:
                    <InputNumber Id="layer" Class="form-control formLay" @bind-Value="@layer"></InputNumber>
                </label>
            </div>

        </EditForm>
        <button class="drawBTN drawBTNsizeL" @onclick="Save" style="align-content:center; margin-top: 4%;">Opret</button>
    </div>
</div>

@code {
    private int clicks = 0;
    private Point pointOnEnter;
    private Point pointOnExit;
    private BECanvasComponent? canvasRef;
    private List<ComponentV> Components { get; set; } = new List<ComponentV>();
    private List<int> Xinput { get; set; } = new List<int>();
    private List<int> Yinput { get; set; } = new List<int>();
    private Canvas2DContext ctx;
    private RestCaller restCaller { get; set; } = new RestCaller();
    private DrawTool selectedTool = DrawTool.polygon;
    bool isOpened = false;
    bool isHidden = true;
    string baseStrokeColor = "#777";
    string baseColorPicker = "#D12B27";
    private bool fill;
    private int layer;
    private int mapLayer;

    protected override void OnInitialized()
    {
        if (AppState.Credentials.Role == "Redaktør")
        {
            isHidden = false;
        }
        else
        {
            isHidden = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this.ctx = await canvasRef.CreateCanvas2DAsync();
    }

    //Triggers on buttonclick to change the current tool
    protected void ToolChanger(DrawTool tool)
    {
        clicks = 0;
        SaveGeoDataOnTooChange();
        selectedTool = tool;

    }

    //Triggers on mouseDown find the locatio of the mouse on press down
    private async void MouseDown(MouseEventArgs args)
    {
        clicks++;
        pointOnEnter = new Point((int)args.OffsetX, (int)args.OffsetY);
    }

    //Triggers on mouseup and find the location of mouse up and call drawoncanvas
    private async void MouseUp(MouseEventArgs args)
    {
        pointOnExit = new Point((int)args.OffsetX, (int)args.OffsetY);

        DrawOnCanvasUsingTool();
    }

    //Method is trigged on mouse up and it looks what tool we are using.
    //Then we draw on the canvas and save the x and y inpu from mouse to arrays
    private async void DrawOnCanvasUsingTool()
    {
        await ctx.BeginBatchAsync();

        if (fill)
            await ctx.SetFillStyleAsync(baseColorPicker);

        switch (selectedTool)
        {
            case DrawTool.polygon:

                if (clicks == 1)
                {
                    await ctx.MoveToAsync(pointOnEnter.X, pointOnEnter.Y);
                    Xinput.Add(pointOnEnter.X);
                    Yinput.Add(pointOnEnter.Y);
                }
                else
                {
                    await ctx.LineToAsync(pointOnExit.X, pointOnExit.Y);
                    Xinput.Add(pointOnEnter.X);
                    Yinput.Add(pointOnEnter.Y);

                    if (fill)
                    {
                        await ctx.FillAsync();
                        await ctx.SetStrokeStyleAsync(baseColorPicker);
                    }
                    else
                    {
                        await ctx.SetStrokeStyleAsync(baseStrokeColor);
                    }
                }
                await ctx.StrokeAsync();
                break;

            case DrawTool.line:

                await ctx.MoveToAsync(pointOnEnter.X, pointOnEnter.Y);
                await ctx.LineToAsync(pointOnExit.X, pointOnExit.Y);
                Xinput.Add(pointOnEnter.X);
                Yinput.Add(pointOnEnter.Y);
                Xinput.Add(pointOnExit.X);
                Yinput.Add(pointOnExit.Y);
                SaveGeoDataOnTooChange();
                await ctx.StrokeAsync();
                await ctx.RestoreAsync();

                if (fill)
                {
                    await ctx.SetStrokeStyleAsync(baseColorPicker);
                }
                else
                {
                    await ctx.SetStrokeStyleAsync(baseStrokeColor);
                }

                break;

            case DrawTool.square:
                var rect = new RectangleF(
                           Math.Min(pointOnEnter.X, pointOnExit.X),
                           Math.Min(pointOnEnter.Y, pointOnExit.Y),
                           Math.Abs(pointOnEnter.X - pointOnExit.X),
                           Math.Abs(pointOnEnter.Y - pointOnExit.Y));

                InsertCordsSquar(rect);
                if (fill)
                {

                    await ctx.SetStrokeStyleAsync(baseColorPicker);
                    await ctx.StrokeRectAsync(rect.X, rect.Y, rect.Width, rect.Height);
                    await ctx.FillRectAsync(rect.X, rect.Y, rect.Width, rect.Height);

                }
                else
                {
                    await ctx.SetStrokeStyleAsync(baseStrokeColor);
                    await ctx.StrokeRectAsync(rect.X, rect.Y, rect.Width, rect.Height);
                }

                break;
        }
        await ctx.EndBatchAsync();
    }

    //When drawing is done save the object to Components property
    private void SaveGeoDataOnTooChange()
    {
        if (Xinput.Count > 0 || Yinput.Count > 0)
        {
            Components.Add(new ComponentV("", 0, new GeodataV(GetTypeOfComponentBYTool(), Xinput.ToArray(), Yinput.ToArray(), 4321)));
            ClearXandYArrays();
        }
    }

    //Creas squar and save it to Components Property
    private void InsertCordsSquar(RectangleF rect)
    {
        Xinput.Add((int)rect.X);
        Yinput.Add((int)rect.Y);
        Xinput.Add((int)rect.X);
        Yinput.Add((int)rect.Y + (int)rect.Height);
        Xinput.Add((int)rect.X + (int)rect.Width);
        Yinput.Add((int)rect.Y + (int)rect.Height);
        Xinput.Add((int)rect.X + (int)rect.Width);
        Yinput.Add((int)rect.Y);
        Xinput.Add((int)rect.X);
        Yinput.Add((int)rect.Y);
        SaveGeoDataOnTooChange();
    }

    //Get the type of tool as string.
    private string GetTypeOfComponentBYTool()
    {
        string type = "";
        switch (selectedTool)
        {
            case DrawTool.line:
                type = "LINE";
                break;
            case DrawTool.polygon:
                Xinput.Add(Xinput[0]);
                Yinput.Add(Yinput[0]);
                type = "POLYGON";
                break;
            case DrawTool.square:
                type = "POLYGON";
                break;
        }
        return type;
    }

    //Clear the x and y arrays
    private void ClearXandYArrays()
    {
        Xinput.Clear();
        Yinput.Clear();
    }

    //On color picker open
    private void OnColorPickerOpen()
    {
        isOpened = true;
    }

    //On color picker close, we change the base color value to new value
    private void OnColorPickerClosed(string value)
    {
        baseColorPicker = value;
        isOpened = false;
    }

    //Undo the last change and draw the map agien
    private async void UndoLast()
    {
        Canvas canvas = new Canvas();
        Components.Remove(Components.Last());
        canvas.DrawMap(ctx, Components, baseStrokeColor,canvasRef.Width,canvasRef.Height);
    }
    
    //Clear the full canvas
    private async void UndoAll()
    {
        await ctx.ClearRectAsync(0, 0, (double)canvasRef.Width, (double)canvasRef.Height);
        Components.Clear();
    }

    //Create MapV object
    private MapV CreateMap()
    {
        MapV map = new MapV(sManager.GetKey("MallID"), layer, Components);
        return map;
    }

    //Save is called by button click to save the map
    protected async void Save()
    {
        await restCaller.InsertMap(CreateMap());
        Components.Clear();
    }
}
