@using TheMall.Data
@using TheMall.Data.Modles

@inject ISessionManager sManager;
@inject AppState state;

<select @bind="SelectedMallId" class="form-control selectpicker mall-selector">
    <option id="map">Vælg StorCenter</option>
    @foreach (var mall in malls)
    { 
        <option value="@mall.id">@mall.location</option>
    }
</select>

@code {
    string mallName = "";
    int mallId = -1;
    private int selectedMallId;
    private int SelectedMallId{
        get{ return selectedMallId; }
        set{ 
            selectedMallId = value;
            sManager.SetMall(selectedMallId, GetMall());
        }
    }

    List<Mall> malls = new List<Mall>();

    private string GetMall()
    {
        return malls.Find(x => x.id.Equals(selectedMallId))?.location;
    }


    protected override async Task OnInitializedAsync()
    {
        RestCaller caller = new RestCaller();
   //     malls = await caller.GetMalls(state.Credentials.FirmID);
   
    }
}
